/** MOTD **********************************************************************/
#block-wowroster-3.block {
  width: 100%;
  text-align: center;
  border: 0;
  background: transparent;
}
#block-wowroster-3 h2 {
  display: none;
}
/** MOTD as Text */
#text-motd {
  font-size: 1.1em;
  font-weight: bold;
  color: red;
}
